<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <style>

    </style>
</head>

<body>
    <h2>
        Reseting password <%= email %>! at Pathway Plus admin site.
    </h2>
    <p>
        <br/>
        Here is your 6-digit code to reset password.
        <%= code %>
    </p>
</body>

</html>